<nav>
  <h2>CRUD Operations</h2>
</nav>
<div class="container p-2">
    <div class="row">
      <div class="col-4">
        <h5 class="text-center bg-warning">Registration Form</h5>
        <form [formGroup]="UserForm">
          <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" placeholder="Enter id" formControlName="id"  [ngClass]="inputshowblurr"  [readonly]="hiddenView">
          </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Enter Name" formControlName="name"  [ngClass]="inputshowblurr"  [readonly]="hiddenView">
        </div>
        <div class="form-group">
          <label>Country</label>
          <input type="text" class="form-control" placeholder="Enter country" formControlName="country"  [ngClass]="inputshowblurr"  [readonly]="hiddenView">
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="text" class="form-control" placeholder="Enter age" formControlName="age"  [ngClass]="inputshowblurr" [readonly]="hiddenView">
        </div>
        <div>
          <button *ngIf="showButton" type="submit" class="btn btn-success" (click)="save()">Save</button>
          <button   *ngIf="!showButton"type="submit" class="btn btn-warning" (click)="UpdateUserData()">Update</button>

        </div>
       
      </form>
  
      </div>
      <div class="col-8">
        <input type="text" class="form-control mb-2" placeholder="Search" formControlName="search" [(ngModel)]="searchText" >
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Country</th>
              <th scope="col">Age</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let ds of getDatas | filter:searchText; let i = index " >
              <th>{{i+1}}</th>
              <td>{{ds.name}}</td>
              <td>{{ds.country}}</td>
              <td>{{ds.age}}</td>
              <td>
                <div class="space-between">
                <i class="fa fa-pencil p-1 text-primary " (click)="GetUserById(ds.id)" ></i>
                <i class="fa fa-eye  p-2 text-info" (click)="view(ds.id)"  ></i>
                <i class="fa fa-trash text-danger" (click)="deleteUser(ds.id)"></i>
              </div>
              </td>
            </tr>
         
          </tbody>
        </table>
     
  
      </div>
    </div>
  
  
</div>



<div>


</div>  